<ion-view title="Alterar Senha" id="page12" style="background-color:#E2D9D9;" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <div class="spacer" style="width: 283px; height: 59px;"></div>
        <div>
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Senha atual</span>
                    <input type="text" style="background-color: #f0f0f0" placeholder="Insira">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nova senha</span>
                    <input type="text" style="background-color: #f0f0f0" placeholder="Insira">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Comfirmar senha</span>
                    <input type="text" style="background-color: #f0f0f0" placeholder="Insira">
                </label>
            </div>


        </div>
        <a ui-sref="tabsController.home_tab1" id="alterarSenha-button13" class=" button button-positive  button-block icon-right ion-checkmark-circled ">Confirmar</a>
    </ion-content>
</ion-view>