<ion-view title="Cadastrar Veículo" hide-nav-bar="true" id="page14" style="background-color:#E2D9D9;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <div>
            <div class="bar bar-header bar-positive">
                <h1 class="title">Cadastrar Veículo</h1>
            </div>
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <div>
            <div class="list">
                <label class="item item-input item-select" style="background-color: #f0f0f0">
                    <div class="input-label">
                        Marca
                    </div>
                    <select style="background-color: #f0f0f0" name="marcaSelecionada" id="marcaSelecionada" ng-model="listaMarca.marcaSelecionada" >
                        <option ng-repeat="marca in listaMarca.marcasDisponiveis">{{marca.nm_marca_veiculo}}</option>
                    </select>
                </label>
            </div>
            <div class="list">
                <label class="item item-input item-select" style="background-color: #f0f0f0">
                    <div class="input-label">
                        Modelo
                    </div>
                     <select style="background-color: #f0f0f0" name="modeloSelecionado" id="modeloSelecionado" ng-model="listaModelo.modeloSelecionado">
                        <option ng-repeat="modelo in listaModelo.modelosDisponiveis" >{{modelo.nm_modelo}}</option>
                    </select>
                </label>
            </div>


            <div class="list list-inset">
                <label class="item item-input" style="background-color: #f0f0f0">
                    <input type="text" placeholder="Ano" ng-model="anoVeiculo">
                </label>
                <label class="item item-input" style="background-color: #f0f0f0">
                    <input type="text" placeholder="Placa"
                    ng-model="placaVeiculo">
                </label>
                 <label class="item item-input" style="background-color: #f0f0f0">
                    <input type="text" placeholder="Renavam" ng-model="renavam">
                </label>
            </div>
        </div>
        <a ui-sref="hodMetro" id="cadastrarVeCulo-button16" style="color:#FFFFFF;" class=" button button-positive  button-block icon-right ion-checkmark-circled ">Cadastrar</a>

        <h3>Marca: {{listaMarca.marcaSelecionada}}</h3>
        <h3>Modelo: {{listaModelo.modeloSelecionado}}</h3>
        <h3>Ano: {{anoVeiculo}}</h3>
        <h3>Placa: {{placaVeiculo}}</h3>

    </ion-content>
</ion-view>