<ion-view title="Abastecimento / Consumo" id="page15" style="background-color:#E2D9D9;" class=" ">
    <ion-content padding="true" class="has-header">

        <div class="spacer" style="width: 300px; height: 60px;"></div>

        <form id=" " class=" ">
            <ion-list id=" " class=" ">
                <label class="item item-input " id="hodometro-input1">
                    <span class="input-label">Data do<br>Abastecimento:</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="precoLitro-input2">
                    <span class="input-label">Preço por litro<br>Abastecimento: R$</span>
                    <input type="password" placeholder="">
                </label>
                <label class="item item-input " id="vlAbastecimento-input1">
                    <span class="input-label">Valor do <br>Abastecimento: R$</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="totalLitros-input2">
                    <span class="input-label">Total de Litros<br>Abastecidos:</span>
                    <input type="password" placeholder="">
                </label>
                <label class="item item-input " id="hodometroAbastecimento-input1">
                    <span class="input-label">Km / hodômetro<br>Atualizado:</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="login-input2">
                    <span class="input-label">Tipo de<br>Combustível:</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <a  class=" button button-positive  button-block " ng-click=" ">Calcular /Gravar</a>
        </form>
     </ion-content>
</ion-view>