<ion-view title='Home<a ui-sref="home"><img class="title-image" src="img/logoAV5.png" /></a>'>
<!--<ion-view title="Home" id="page16" style="background-color:#E2D9D9;">-->
    <ion-content padding="true" class=" manual-remove-top-padding has-header">
<div>

<div class="card" >
  <div class="item item-divider">
   Manutenções
  </div>
  <div class="item item-text-wrap"  style="background-image:url(../img/manutencao.jpg)" >
    <p style="color:#ffc900">{{textoManutencao}}</p>
  </div>
</div>

<div class="card" >
  <div class="item item-divider">
   Óleo do Motor
  </div>
  <div class="item item-text-wrap"  style="background-image:url(../img/oleo.jpg)" >
    <p style="color:#ffc900">{{textoOleo}}</p>
  </div>
</div>

<div class="card" >
  <div class="item item-divider">
   Radiador
  </div>
  <div class="item item-text-wrap"  style="background-image:url(../img/radiador.jpg)" >
    <p style="color:#ffc900">{{aguaRadiador}}</p>
  </div>
</div>

<div class="card" >
  <div class="item item-divider">
   Filtro de Ar
  </div>
  <div class="item item-text-wrap"  style="background-image:url(../img/filtroAr.jpg)" >
    <p style="color:#ffc900">{{filtroDeAr}}</p>
  </div>
</div>

</div>
    </ion-content>
</ion-view>