<ion-view title="Login" hide-nav-bar="true" id="page5" style="background-color:#E2D9D9;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <div class="spacer" style="width: 300px; height: 166px;"></div>
        <div>
            <div class="bar bar-header bar-positive">
                <h1 class="title">Assistente Veicular</h1>
            </div>
        </div>
        <form id="login-form1" class="list ">
            <ion-list id="login-list1" class=" ">
                <label class="item item-input " id="login-input1">
                    <span class="input-label">Login:</span>
                    <input type="email" placeholder="" ng-model="login.email">
                </label>
                <label class="item item-input " id="login-input2">
                    <span class="input-label" >Senha:</span>
                    <input type="password" placeholder="" ng-model="login.senha">
                </label>
            </ion-list>
            <a id="login-button1" class=" button button-positive  button-block icon-right ion-log-in " ng-click="fazerLogin(login)">Entrar</a>
            <a ui-sref="criarConta" id="login-button2" style="color:#1911EC;" class=" button button-light  button-block button-clear ">Primeira vez por aqui? Crie sua conta</a>
        </form>
    </ion-content>
</ion-view>