<ion-view title="Notificações" id="page8" style="background-color:#E2D9D9;">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="height: 100px;"></div>
        <div>
            <ul class="list">

                <li class="item item-toggle" style="background-color: #f0f0f0">
                    Alertas
                    <label class="toggle toggle-dark">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>