<ion-view title="Sobre" id="page18" style="background-color:#E2D9D9;" class=" ">
    <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 100px; height: 100px;"></div>
<div class="card">
  <div class="item item-text-wrap">
   <div style="text-align:center;">Assistente Veicular</div><br><br><div style="text-align:justify;">O aplicativo Assistente Veicular é um gerenciador de manutenções preventivas, onde é possível ter ciência das manutenções que o veículo precisa, garantindo assim, melhor desempenho e extensão de vida util do automóvel.<br>
   Este aplicativo foi desenvolvido por uma equipe de alunos do curso técnico em informática da ETEC Doutora Ruth Cardoso, como projeto de conclusão de curso, no entanto, a equipe concordou em continuar com o projeto e desenvolver um aplicativo que possa realmente ser útil para a sociedade.
   Foi então formado uma sociedade empresarial com o objetivo de desenvolver projetos de relevância social e ambietal.</div>
  </div>
</div>
<div class="spacer" style="width: 30px; height: 30px;"></div>
<div class="button-bar">
  <a class="button button-positive"><a href="https://www.facebook.com/AssistenteVeicularOficial/timeline">Facebook</a></a>
  <a class="button button-calm"><a href="https://twitter.com/Oficial_AV">Twitter</a></a>
  <a class="button button-assertive"><a href="https://plus.google.com/u/0/112748437354544679938?hl=pt-BR">Google+</a></a>
</div>    
    </ion-content>
</ion-view>


